/ {
    glidepoint_listener: glidepoint_listener {
        compatible = "zmk,input-listener";
        status = "disabled";
        device = <&glidepoint_split>;
    };
};

&pro_micro_i2c {
    glidepoint_split: glidepoint_split@1 {
        compatible = "zmk,input-split";
        reg = <1>; // Das löst die 'reg' Pflicht
        status = "disabled";
    };
};