#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>


/ {
    /* Dieser Listener sorgt dafür, dass die Daten vom Glidepoint 
       tatsächlich in Mausbewegungen umgewandelt werden */
    glidepoint_listener: glidepoint_listener {
        compatible = "zmk,input-listener";
        device = <&glidepoint>;
    };
};

&pro_micro_i2c {
    status = "okay";

    glidepoint: glidepoint@2a {
        compatible = "cirque,pinnacle";
        reg = <0x2a>;
        status = "okay";
        dr-gpios = <&gpio1 1 (GPIO_ACTIVE_HIGH)>; 
        sensitivity = "4x";
        sleep;
        
        input-processors = 
        <&zip_xy_transform 1>,
        <&zip_xy_scaler 3 1>,
        <&zip_temp_layer 11 300>;
        
        scroller {
            layers = <12>;                      // Dein Scroll-Layer Index
            input-processors = 
            <&zip_xy_transform 1>,         // Auch beim Scrollen 90° drehen!
            <&zip_xy_to_scroll_mapper>,    // X/Y zu Scroll umwandeln
            <&zip_scroll_scaler 1 6>;      // Scroll-Geschwindigkeit drosseln
        };
    };
};