#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>

/ {
    /* Der Sender: Er nimmt Daten von der Hardware und schickt sie per Funk */
    glidepoint_split: glidepoint_split {
        compatible = "zmk,input-split";
        status = "okay";
        device = <&glidepoint>; // Nimmt Daten von der echten Hardware
    };
};

&pro_micro_i2c {
    status = "okay";

    glidepoint: glidepoint@0 {
        compatible = "cirque,pinnacle";
        reg = <0x2a>;
        status = "okay";
        dr-gpios = <&pro_micro 1 (GPIO_ACTIVE_HIGH)>; 
        sensitivity = "3x";
        sleep;
        // no-taps;
    };
};